.col-4{
    margin-top: 20px;
}
.text1 h1 {
    margin-top: 3vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    margin-bottom: 2vh;
}
.flex hr{
    width: 10vw;
    height: 0.5vh;
}
.text2 h4 {
    margin-top: 3vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
}
@media (max-width: 768px){
    .image1, .image2{
        display: none;
    }
    .text1 h1 {
        font-size: 7vw;
      }
    
      .text2 h4 {
        font-size: 5vw;
      }
      .flex hr{
        width: 10vh;
      }
      .col-4{
        margin-top: -3vh;
      }
}


    