h2{
    margin-top: 8vh;
    margin-bottom: 5vh;
    margin-left: 18vw;
    font-size: 2.9vw;
  }
  .produs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #111;
    margin-left:65px ;
    border: 3px solid #757575;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    flex: 0 1 calc(33.33% - 20px); 
}
@media screen and (min-width:1025px) and (max-width:1440px){
  h2{
    margin-top: 8vh;
    margin-bottom: 5vh;
    margin-left: 13vw;
    font-size: 2.9vw;
  }
  .produs{
    flex-basis: calc(25% - 10px)!important; 
    margin-left: 3.2vw!important;
  }
}
@media screen and (min-width:769px) and (max-width:1024px){
  h2{
    margin-top: 8vh;
    margin-bottom: 5vh;
    margin-left: 13vw;
    font-size: 4vw;
  }
  .produs{
    flex-basis: calc(33.33% - 10px)!important; 
    margin-left: 3vw!important;
  }
}
@media screen and (max-width:768px){
  h2{
    font-size: 6vw;
    margin-left: 10vw;
    margin-top: 4vh;
  }
}
@media screen and (max-width:431px){
  h2{
    font-size: 10vw;
    margin-left: 7vw;
    margin-top: 4vh;
  }
  .produs{ 
    margin-left: 13vw!important;
  }
}
@media screen and (width:1280px){
  .produs{
    flex-basis: calc(25% - 3px)!important; 
    margin-left: 1vw!important;
  }
}
@media screen and (max-width:376px){
  .produs{
    flex-basis: calc(25% - 3px)!important; 
    margin-left: 10vw!important;
  }
}
@media screen and (max-width:320px){
  .produs{
    flex-basis: calc(25% - 3px)!important; 
    margin-left: 3vw!important;
  }
}
