.swiper-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
     
}
.swiper-slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #111;
    margin-left:65px ;
    border: 3px solid #757575;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    flex: 0 1 calc(17% - 20px); 
}
.btn{
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    color:#fff;
    border-radius: 50%;
}
.btn::after{
    color:#fff;  
}
@media screen and (max-width: 1900px) {
    .swiper-slide{
      flex: 0 0 calc(20% - 20px); 
    }
}
@media screen and (max-width: 1500px) {
    .swiper-slide{
      flex: 0 0 calc(33.33% - 20px); 
    }
}
@media (max-width:768px){
    .swiper-container{
        display: none;
    }
}